---
import "../../styles/global.css";

interface Props {
  title?: string;
  description?: string;
  keywords?: string;
  lang?: string;
}

const { title = "Astro", description, keywords, lang } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    {keywords && <meta name="keywords" content={keywords} />}
    <slot name="head" />
  </head>
  <body>
    <div class="min-h-screen bg-background">
      <slot />
    </div>
  </body>
</html>
