---
import "../../styles/global.css";
import { ClientRouter } from "astro:transitions";
import BrandPng from "../../assets/brand.png";
import { getImage } from "astro:assets";

const BrandPng180w = await getImage({
  src: BrandPng,
  width: 180,
  height: 180,
  format: "png",
});
const BrandPng32w = await getImage({
  src: BrandPng,
  width: 32,
  height: 32,
  format: "png",
});
const BrandPng16w = await getImage({
  src: BrandPng,
  width: 16,
  height: 16,
  format: "png",
});

interface Props {
  title?: string;
  description?: string;
  keywords?: string;
  lang?: string;
}

const { title = "Astro", description, keywords, lang } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- Google Tag Manager -->
    <script is:inline>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-WJ47GF");
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    {keywords && <meta name="keywords" content={keywords} />}
    <ClientRouter />
    <link rel="apple-touch-icon" sizes="180x180" href={BrandPng180w.src} />
    <link rel="icon" type="image/png" sizes="32x32" href={BrandPng32w.src} />
    <link rel="icon" type="image/png" sizes="16x16" href={BrandPng16w.src} />
    <link rel="manifest" href={`${Astro.site}site.webmanifest`} />
    <slot name="head" />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-WJ47GF"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <div class="min-h-screen bg-background">
      <slot />
    </div>
  </body>
</html>
